<!doctype html>
<html ng-app="imgurApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Imgur Gif Search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Varela+Round">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="index.js"></script>
  </head>
  <body ng-controller="ImgurController">
    <div class="jumbotron">
      <div class="container">
        <img class="logo" src="//i.imgur.com/rbUKvNP.png">
        <span class="heading">Gif Search</span>
      </div>
      <div class="container">
      
        <h3>What are you looking for?</h3>
        <div class="btn-group btn-group-justified btn-row" role="group">
          <div class="btn-group" role="group">
            <button type="button" class="btn" ng-click="searchButton('animals')">animals</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn" ng-click="searchButton('puppies')">puppies</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn" ng-click="searchButton('kittens')">kittens</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn" ng-click="searchButton('hedgehogs')">hedgehogs</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn" ng-click="searchButton('penguins')">penguins</button>
          </div>
        </div>
        <div class="btn-group btn-group-justified btn-row" role="group">
          <div class="btn-group" role="group">
            <button type="button" class="btn" ng-click="searchButton('news')">news</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn" ng-click="searchButton('celebrities')">celebrities</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn" ng-click="searchButton('sports')">sports</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn" ng-click="searchButton('anime')">anime</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn" ng-click="searchButton('movies')">movies</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn" ng-click="searchButton('tv')">tv</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn" ng-click="searchButton('gaming')">gaming</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn" ng-click="searchButton('music')">music</button>
          </div>
        </div>
        <div class="btn-group btn-group-justified btn-row" role="group">
          <div class="btn-group" role="group">
            <button type="button" class="btn" ng-click="searchButton('reactions')">reactions</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn" ng-click="searchButton('memes')">memes</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn" ng-click="searchButton('trippy')">trippy</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn" ng-click="searchButton('3D')">3D</button>
          </div>
        </div>

        <button type="button" class="btn btn-info center-block" ng-click="toggleCustom()">custom</button>
        <br>
        <form class="search" ng-submit="searchCustom()" ng-show="custom">
          <div class="form-group">
            <input type="text" class="form-control center-block" name="query" ng-model="query">
            <button type="submit" class="btn btn-default center-block">Search</button>
          </div>
        </form>

        <div class="load-container">
          <div ng-show="loading">
            <span class="cssload-loader"><span class="cssload-loader-inner"></span></span>
          </div>
        </div>

      </div>
    </div>
    <div class="container" ng-show="results">
      <div class="container">
        <div ng-repeat="result in results | limitTo:quantity">
          <a ng-href="//imgur.com/{{result.id}}" target="_blank">
            <video autoplay muted loop>
              <source ng-src="https://i.imgur.com/{{result.id}}.mp4" type="video/mp4">
            </video>
          </a>
        </div>
        <div class="more-button" ng-show="moreResults">
          <button type="click" class="btn btn-lg btn-default" ng-click="showMore()">Show More</button>
        </div>
      </div>
    </div>
  </body>
</html>
